/target/
/src/main/resources/static/index.html
/src/main/resources/static/favicon.ico
/src/main/resources/static/css
/src/main/resources/static/img
/src/main/resources/static/js
!.mvn/wrapper/maven-wrapper.jar

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr